Repository AJGKooK/SeaSalt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-test, backend-deploy, nginx-test, nginx-deploy, systemd-test, systemd-deploy, android-build, android-test

backend-build:
  stage: build
  allow_failure: true
  tags:
  - Backend
  - Spring
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Backend/gradlew
  script:
  - cd Backend
  - ./gradlew --build-cache assemble
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: push
    paths:
    - build
    - .gradle

backend-test:
  stage: test
  allow_failure: true
  needs:
  - backend-build
  tags:
  - Backend
  - Spring
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Backend/gradlew
  script:
  - cd Backend
  - ./gradlew check
  cache:
    key: $CI_COMMIT_REF_NAME
    policy: pull
    paths:
    - build
    - .gradle
  artifacts:
  ...

backend-deploy:
  stage: deploy
  allow_failure: true
  needs:
  - backend-test
  tags:
  - Shell
  script:
  - sudo mv Backend/build/libs/*.jar /srv/app/app.jar
  - sudo chown app:app /srv/app/app.jar
  - sudo chmod 774 /srv/app/app.jar
  - sudo systemctl restart app

nginx-test:
  stage: test
  allow_failure: true
  tags:
  - Shell
  script:
  - sudo nginx -t -c ./Documents/nginx/nginx.conf

nginx-deploy:
  stage: deploy
  allow_failure: true
  needs:
  - nginx-test
  tags:
  - Shell
  script:
  - sudo cp -r Documents/nginx/* /etc/nginx/.
  - sudo chown root:root /etc/nginx/*
  - sudo systemctl reload nginx

systemd-test:
  stage: test
  allow_failure: true
  tags:
  - Shell
  script:
  - sudo systemd-analyze verify ./Documents/app.service

systemd-deploy:
  stage: deploy
  allow_failure: true
  needs:
  - systemd-test
  tags:
  - Shell
  script:
  - sudo cp Documents/app.service /etc/systemd/system/app.service
  - sudo chown root:root /etc/systemd/system/app.service
  - sudo systemctl daemon-reload
  - sudo systemctl restart app

android-build:
  image: javiersantos/android-ci:latest
  stage: build
  allow_failure: true
  tages:
  - Android
  - Frontend
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/gradlew
  script:
  - cd Frontend
  - ./gradlew assemble
  artifacts:
    paths:
    - Frontend/app/build/outputs/

android-test:
  image: javiersantos/android-ci:latest
  stage: test
  allow_failure: true
  needs:
  - android-build
  tages:
  - Android
  - Frontend
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/gradlew
  script:
  - cd Frontend
  - ./gradlew check

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Testing out CI/CD pipeline
  Backend/Test
  Documents/nginx/Test
  Frontend/Test
Due: backend-build, backend-test, backend-deploy, nginx-test, nginx-deploy, android-build, android-test

Testing again
  Backend/Test
  Documents/nginx/Test
  Frontend/Test
Due: backend-build, backend-test, backend-deploy, nginx-test, nginx-deploy, android-build, android-test

Testing again
  Backend/Test
Due: backend-build, backend-test, backend-deploy

I am out of things to say. SELinux makes me hate myself. Please work.
  Backend/Test
  Documents/nginx/Test
  Frontend/Test
Due: backend-build, backend-test, backend-deploy, nginx-test, nginx-deploy, android-build, android-test

Almost done
  Backend/Test
  Documents/nginx/Test
  Frontend/Test
Due: backend-build, backend-test, backend-deploy, nginx-test, nginx-deploy, android-build, android-test

Just cleaning up tests [skip ci]
  Backend/Test
  Documents/nginx/Test
  Frontend/Test
Due: backend-build, backend-test, backend-deploy, nginx-test, nginx-deploy, android-build, android-test

Update README.md
  README.md
Due: none

deleting unused buttons
  Frontend/app/src/main/res/layout/activity_login.xml
Due: none

fixed an error with login screen
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/LoginActivity.java
Due: none

Linking pages together
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/com/example/loginscreen/data/LoginDataSource.java
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/ChatActivity.java
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/LoginActivity.java
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/LoginViewModel.java
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/MainActivity.java
  Frontend/app/src/main/res/layout/activity_chat.xml
  Frontend/app/src/main/res/layout/activity_main_screen.xml
  Frontend/app/src/main/res/values/strings.xml
Due: none

constructing chatroom
  Frontend/app/src/main/res/layout/activity_chat.xml
Due: none

adding chat bubbles
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/ChatActivity.java
  Frontend/app/src/main/res/drawable/received_message.xml
  Frontend/app/src/main/res/drawable/sent_message.xml
  Frontend/app/src/main/res/layout/activity_chat.xml
  Frontend/app/src/main/res/layout/received_message.xml
  Frontend/app/src/main/res/layout/sent_message.xml
Due: none

Deleting junk
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/ChatActivity.java
Due: none

added the ability to add a list to the listview in the chat. Not connected to back end, this is just a work-around
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/ChatActivity.java
  Frontend/app/src/main/res/layout/activity_chat.xml
Due: none

What has been changed?
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/ChatActivity.java
Due: none

adding buttons to main page
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/MainActivity.java
  Frontend/app/src/main/res/drawable-hdpi/mainchatbutton.png
  Frontend/app/src/main/res/drawable-hdpi/maineventsbutton.png
  Frontend/app/src/main/res/drawable-hdpi/mainuploadbutton.png
  Frontend/app/src/main/res/layout/activity_main_screen.xml
Due: none

Adding last of main screen buttons for this demo
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/MainActivity.java
  Frontend/app/src/main/res/drawable-hdpi/maincontactsbutton.png
  Frontend/app/src/main/res/drawable-hdpi/mainmeetbutton.png
  Frontend/app/src/main/res/layout/activity_main_screen.xml
Due: none

Small fix to MainActivity.java
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/MainActivity.java
Due: none

starting on upload activity
  Frontend/app/src/main/java/com/example/loginscreen/ui/login/UploadActivity.java
  Frontend/app/src/main/res/layout/activity_upload.xml
Due: none

fixing constraints on .xml files
  Frontend/app/src/main/res/layout/activity_contacts.xml
  Frontend/app/src/main/res/layout/activity_events.xml
  Frontend/app/src/main/res/layout/activity_meet.xml
  Frontend/app/src/main/res/layout/activity_upload.xml
Due: none

changing text on upload.xml
  Frontend/app/src/main/res/layout/activity_upload.xml
Due: none

again
  Frontend/app/src/main/res/layout/activity_upload.xml
Due: none

Fixing margin errors for main and chat
  Frontend/app/src/main/res/layout/activity_chat.xml
  Frontend/app/src/main/res/layout/activity_main_screen.xml
Due: none

Fix NGINX deployment commands
  .gitlab-ci.yml
Due: none

These damn margins
  Frontend/app/src/main/res/layout/activity_chat.xml
Due: none

Set up proper login, and login security
  Backend/src/main/java/controllers/UserController.java
  Backend/src/main/java/database/DatabaseController.java
  Backend/src/main/java/database/User.java
  Backend/src/main/java/database/UserDatabase.java
  Backend/src/main/java/service/UserService.java
Due: none

Update Java Version
  Backend/build.gradle
Due: backend-build, backend-test, backend-deploy

Update data models
  Backend/src/main/java/controllers/ClassController.java
  Backend/src/main/java/controllers/UserController.java
  Backend/src/main/java/database/Class.java
  Backend/src/main/java/database/User.java
  Backend/src/main/java/database/UserDatabase.java
  Backend/src/main/java/service/UserService.java
Due: none

Path conditions:
  backend-build: any of: Backend/*
  backend-test: any of: Backend/*
  backend-deploy: any of: Backend/*
  nginx-test: any of: Documents/nginx/*
  nginx-deploy: any of: Documents/nginx/*
  systemd-test: any of: Documents/app.service
  systemd-deploy: any of: Documents/app.service
  android-build: any of: Frontend/*
  android-test: any of: Frontend/*
